@import "@/styles/colors.scss";

.input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  display: block;
  transition: 0.2s ease-in-out color, 0.2s ease-in-out border-color;
  outline: 0;

  &::placeholder {
    color: $md-grey-500;
    font-size: 0.75rem;
  }

  &:focus {
    border-color: $md-indigo-700;
  }

  &:disabled {
    background-color: $md-grey-300;
    color: #aaa;
    cursor: not-allowed;
  }
}

.input-label {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 8px;
  color: $md-grey-700;
}

.input-error {
  border-color: $md-red-a400;
}

.bottom-text {
  margin-top: 10px;
  font-size: 12px;
  color: $md-red-a400;
}

.textarea {
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  display: block;
  transition: 0.2s ease-in-out color, 0.2s ease-in-out border-color;
  outline: 0;

  &::placeholder {
    font-size: 12px;
  }

  &:focus {
    border-color: $md-indigo-700;
  }

  &:disabled {
    background-color: $md-grey-300;
    color: #aaa;
    cursor: not-allowed;
  }
}
