@import "@/styles/colors.scss";

.button {
  border-radius: 8px;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;

  &:disabled {
    background-color: $md-grey-300 !important;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
  }

  .text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading-icon {
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
}

.button-primary {
  background-color: $md-indigo-600;
  color: $md-white;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.button-tiny {
  padding: 6px 12px;
  font-size: 0.75rem;
}

.button-small {
  padding: 8px 16px;
  font-size: 0.875rem;
}

.button-medium {
  padding: 12px 18px;
  font-size: 1rem;
}

.button-large {
  padding: 14px 24px;
  font-size: 1.125rem;
}

.button-cta {
  padding: 14px 24px;
  width: 100%;
  font-size: 1.125rem;
}
