.text-section-title {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #222;
}

.text-grey-description {
  font-size: 0.75rem;
  line-height: 1.2;
  color: #cdcdcd;
}

.text-h1 {
  font-size: 32px;
  line-height: 1.4;
}

.text-h2 {
  font-size: 24px;
  line-height: 1.2;
}

.text-h3 {
  font-size: 20px;
  line-height: 1.2;
}

.text-p {
  font-size: 0.875rem;
  line-height: 1.2;
}

.text-sm {
  font-size: 0.75rem;
  line-height: 1.2;
}
